
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
}
.nav-2{
    background-color: rgb(125,128,53);
}
nav{
    font-family: 'Open Sans', sans-serif;
}
.nav-1{
    background-color:  rgb(112,116,40);
    color: white;
}

.header-left img{
    height: 80px;
}

.header-left input{
    height: 30px;
    width: 25rem;
    margin: 5px 10px;
}

.header-left .search{
    background-color: white;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.cart, .account{
    color: white;
}
